body {
    margin:0;
    padding:0;
    overflow-x: hidden;
    background:#f6f6f6;
}
#sidenavHolder {
    width:15%;
    height:100%;
}
#otsikko {
    margin-top:-50px;
    font-weight:800;
    cursor:pointer;
}
.openbtn {
    cursor:pointer;
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 50px;
    margin-top:5px;
}
.closebtn {
    cursor:pointer;
}
.searchBar {
    margin-left:250px;
    padding:5px;
}
.dropdown-toggle {
    margin-top:15px;
    float:right;
}
.dropdown-menu {
    margin-top:55px;
    width:500px;
    padding:5px;
}
#kalalaji, #maakunta {
    display:none;
}

#kalapaikkatoggle, #maakuntatoggle {
    font-weight: 1000;
}
#ilmoitukset {
    float:left;
    margin-top:15px;
    width:80px;
    padding:5px;
    background: #FFF;
    border:solid 1px grey;
    border-radius:3px;
}

#ilmoitukset span {
    cursor:pointer;
    margin-top:-5px;
    font-size:16px;
    padding:5px;
}

#ilmoituksetdiv {
    width:300px;
    height:200px;
    margin-left:95px;
    margin-top:15px;
    overflow: hidden;
    position:absolute;
    z-index:1;
    padding:5px;
    background:#f6f6f6;
    border:solid 1px grey;
    border-radius:3px;
    display:none;
}

#ilmoituksetdiv ul {
    text-align:left;
}
#logout {
    cursor:pointer;
    text-decoration: underline;
}
#logoutconfirm {
    display:none;
}
#logouty, #logoutn {
    display:none;
    cursor:pointer;
    text-decoration: underline;
}

#map {
    margin-top:70px;
    border: solid 1px grey;
    width:60%;
    height:500px;
    margin-left:250px;
}
/* Asetukset osio */
#asetukset {
    width:500px;
    margin-left:300px;
    padding:5px;
}
#kommentointi, #vierailijat, #kalapaikat, #muokkaus, #poisto {
    width:150px;
    height:50px;
    margin-top:20px;
    background:grey;
    padding:5px;
    text-align:center;
    color:white;
    border-radius:5px;
    cursor:pointer;
}
#muokkaus{
    margin-top:90px;
}
#muokkausdiv {
    display:none;
    width:300px;
    height:400px;
    margin-left:300px;
    margin-top:-500px;
}
#muokkausdiv input {
    margin-top:20px;
    width:210px;
    text-align:center;
    border-radius:2px;
}
#muokkausdiv button {
    width:100px;
    padding:5px;
    margin-left:;
    margin-top:20px;
}
/* The side navigation menu */
.sidenavnobs {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    background-color: #f6f6f6; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenavnobs a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenavnobs a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenavnobs .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}